---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About" id="about">
  <div class="max-w-prose space-y-4 sm:text-justify">
    <p class="font-bold text-xl">
      Formed at the Royal Academy of Music in London, <span class="text-primary"
        >Qualia Ensemble</span
      > features husband-and-wife duo <span class="text-primary"
        >Lucas Levin</span
      > and <span class="text-primary">Yi-Shing Cheng</span>.
    </p>
    <p>
      From their new home of Melbourne, Australia, they are bringing their
      extensive chamber music experience to the less-frequently heard beauty of
      the viola-piano duo repertoire.
    </p>
    <p>
      Their credits are extensive, with prizes for solo playing, piano trios,
      quartets and Leider, performances in countries all the way from China, to
      the USA, to Norway, live radio broadcasts, and masterclasses with
      pre-eminent performers and educators such as Alfred Brendel, Imogen
      Cooper, Frank Huang, György Pauk, Maxim Rysanov, Nikolaj Szeps-Znaider,
      Maxim Vengerov, and many others.
    </p>
    <p>
      Lucas's past teachers include Paul Silverthorne, Hélène Clément, Jon
      Thorne, Simon Oswell and Julian Quirit. He plays a 1992 American viola
      made by Tetsuo Matsuda in Chicago.
    </p>
    <p>
      Yi-Shing is a former chamber music fellow and resident artist at the Royal
      Academy of Music and Birmingham Conservatoire. She studied under the
      tutelage of Michael Dussek, and also enjoys song accompaniment, having
      given many recitals alongside vocalists.
    </p>
  </div>
</ContentSection>
